doctype html
html
 head
  title= title
  
  //- Base CSS
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/skins/Slate/bootstrap.min.css')
  

  //-Custom CSS
  link(rel='stylesheet', href='/stylesheets/index-page.css')
  link(rel='stylesheet', href='/stylesheets/links-page.css')
  link(rel='stylesheet', href='/stylesheets/domains.css')  
  link(rel='stylesheet', href='/stylesheets/header-and-navbar.css')
  link(rel='stylesheet', href='/stylesheets/style2.css')
  
  //- Base Scripts
  script(src='/scripts/base/jquery.js')    
  script(src='/scripts/base/jquery.dataTables.js')
  script(src='/scripts/base/jquery.dataTables.fnAddDataAndDisplay.js')
  script(src='/scripts/base/paging.js')
  script(src='/scripts/base/bootstrap-dialog.js')
  script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
  script(src='/lib/bootstrap.growl/dist/bootstrap-growl.js')
  script(src='/lib/jquery-validation/dist/jquery.validate.js')

  //- Custom Scripts
  script(src='/scripts/custom/global.js')  
  script(src='/scripts/custom/home.js')

  body    
    nav.navbar.navbar-default(role="navigation")
      .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
          a.navbar-brand.brand-logo(href="/") CLICK_JACKER
         .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/') Home
              li
                a(href='/all_domains') All Domains
              li
                a(href='/my_domains') My Domains
              li
                a(href="/logout") Logout
    block content
