doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='/scripts/base/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    //-link(rel='stylesheet', href='/lib/bootstrap/css/skins/Cyborg/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/skins/Slate/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/login-page.css')
    
  body
  .container
    .login-header
      h1 CLICK_JACKER
    br
    .form-container
      form(role='form', action="/login",method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Email')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        .form-group-button
          button.btn.btn-default(id='login-submit', type='submit', class="btn btn-success") Submit
    br
    .status
      if data
        p #{data.status}
    br
    .register-link-container
      a(href="/register") Register Here