<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ClickJacker | Buildcave</title>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Buildcave" />

    <meta name="csrf-token" content="{{csrfToken}}">

    <link href="css/skins/slate/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/login-page.css" type="text/css" rel="stylesheet" />

    <script src="lib/requirejs/require.js" data-main="config.js"></script>

  </head>
  
  <body>
    <div id="wrap">
      <div class="header"></div>
    
      <div id="content" class="container"></div>
    </div>
    
    <div id="footer" class="container"></div>
  </body>

</html>