doctype html
html
 head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  h1 There are no links for the #{url} domain!
 br 
 a(href="/") Home
 br 
 a(href="/my_domains") My Domains
 br
 a(href="/logout") Logout