.login-header {
	text-align: center;	
	margin-top: 50px;
}

.login-header h1 {
	font-size: 150px;
	color: rgb(41, 255, 0);
}

.form-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 218px;
}

.form-group-button {
	text-align: center;
}

.register-link-container {
	text-align: center;
}