body {
 padding: 50px;
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
 color: #00B7FF;
}

h3 {
	padding-top:20px;
	color:red;
}

td
{
 padding-right:20px;
 padding-left:20px;
 padding-bottom:5px;
}

