.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;}

/*Placeholder*/
input::-webkit-input-placeholder { color:#e0a0d5; opacity: 1; }
input::-moz-placeholder { color:#e0a0d5; opacity: 1; }  /*firefox 19+*/ 
input:-ms-input-placeholder { color:#e0a0d5; opacity: 1;} /* ie */
input:-moz-placeholder { color:#e0a0d5; opacity: 1; }
/*End Reset*/ 


/*Custom Stylesheet for All Browsers*/
/*Fonts css starts*/
/*Roboto*/
@font-face {
    font-family: 'roboto-black';
    src:url('../fonts/roboto/black/Roboto-Black-webfont.eot'),
        url('../fonts/roboto/black/Roboto-Black-webfont-.eot#iefix') format('embedded-opentype'),
        url('../fonts/roboto/black/Roboto-Black-webfont.woff') format('woff'),
        url('../fonts/roboto/black/Roboto-Black-webfont.ttf') format('truetype'),
        url('../fonts/roboto/black/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto/bold/Roboto-Bold-webfont.eot'),
        url('../fonts/roboto/bold/Roboto-Bold-webfont-.eot#iefix') format('embedded-opentype'),
        url('../fonts/roboto/bold/Roboto-Bold-webfont.woff') format('woff'),
        url('../fonts/roboto/bold/Roboto-Bold-webfont.ttf') format('truetype'),
        url('../fonts/roboto/bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto/light/Roboto-Light-webfont.eot'),
        url('../fonts/roboto/light/Roboto-Light-webfont-.eot#iefix') format('embedded-opentype'),
        url('../fonts/roboto/light/Roboto-Light-webfont.woff') format('woff'),
        url('../fonts/roboto/light/Roboto-Light-webfont.ttf') format('truetype'),
        url('../fonts/roboto/light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto/regular/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/regular/Roboto-Regular-webfont-.eot#iefix') format('embedded-opentype'),
        url('../fonts/roboto/regular/Roboto-Regular-webfont.woff') format('woff'),
        url('../fonts/roboto/regular/Roboto-Regular-webfont.ttf') format('truetype'),
        url('../fonts/roboto/regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-thin';
    src: url('../fonts/roboto/thin/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto/thin/Roboto-Thin-webfont-.eot#iefix') format('embedded-opentype'),
        url('../fonts/roboto/thin/Roboto-Thin-webfont.woff') format('woff'),
        url('../fonts/roboto/thin/Roboto-Thin-webfont.ttf') format('truetype'),
        url('../fonts/roboto/thin/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/roboto/medium/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto/medium/Roboto-Medium-webfont-.eot#iefix') format('embedded-opentype'),
        url('../fonts/roboto/medium/Roboto-Medium-webfont.woff') format('woff'),
        url('../fonts/roboto/medium/Roboto-Medium-webfont.ttf') format('truetype'),
        url('../fonts/roboto/medium/Roboto-Medium-webfont.svg.html#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*Roboto Slab*/
@font-face {
    font-family: 'robotoslab-bold';
    src: url('../fonts/robotoslab/bold/RobotoSlab-Bold-webfont.eot');
    src: url('../fonts/robotoslab/bold/RobotoSlab-Bold-webfont-.eot#iefix') format('embedded-opentype'),
        url('../fonts/robotoslab/bold/RobotoSlab-Bold-webfont.woff') format('woff'),
        url('../fonts/robotoslab/bold/RobotoSlab-Bold-webfont.ttf') format('truetype'),
        url('../fonts/robotoslab/bold/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoslab-light';
    src: url('../fonts/robotoslab/light/RobotoSlab-Light-webfont.eot');
    src: url('../fonts/robotoslab/light/RobotoSlab-Light-webfont-.eot#iefix') format('embedded-opentype'),
        url('../fonts/robotoslab/light/RobotoSlab-Light-webfont.woff') format('woff'),
        url('../fonts/robotoslab/light/RobotoSlab-Light-webfont.ttf') format('truetype'),
        url('../fonts/robotoslab/light/RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoslab-regular';
    src: url('../fonts/robotoslab/regular/RobotoSlab-Regular-webfont.eot');
    src: url('../fonts/robotoslab/regular/RobotoSlab-Regular-webfont-.eot#iefix') format('embedded-opentype'),
        url('../fonts/robotoslab/regular/RobotoSlab-Regular-webfont.woff') format('woff'),
        url('../fonts/robotoslab/regular/RobotoSlab-Regular-webfont.ttf') format('truetype'),
        url('../fonts/robotoslab/regular/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_slab700';
    src: url('../fonts/museoslab/museo_slab_700.eot');
    src: url('../fonts/museoslab/museo_slab_700-.eot#iefix') format('embedded-opentype'),
         url('../fonts/museoslab/museo_slab_700.woff2') format('woff2'),
         url('../fonts/museoslab/museo_slab_700.woff') format('woff'),
         url('../fonts/museoslab/museo_slab_700.ttf') format('truetype'),
         url('../fonts/museoslab/museo_slab_700.svg#museo_slab700') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'just_another_handregular';
    src: url('../fonts/justanotherhand/justanotherhand-webfont.eot');
    src: url('../fonts/justanotherhand/justanotherhand-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/justanotherhand/justanotherhand-webfont.woff2') format('woff2'),
         url('../fonts/justanotherhand/justanotherhand-webfont.woff') format('woff'),
         url('../fonts/justanotherhand/justanotherhand-webfont.ttf') format('truetype'),
         url('../fonts/justanotherhand/justanotherhand-webfont.svg#just_another_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*Fonts css ends*/
*
{
    margin: 0px;
}
img{
	max-width:100%;
        outline: none;
        border: none;
        
}
/* Reset */

body{
    font-family: 'roboto';
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    background: url("../images/main_bg.jpg") repeat;
    
}

.wraper{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.maincontainer{
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}
.header-wraper{
    background: #020001;
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
}
.header{
    width: 100%;
    padding: 0;
    margin: 0;
}
.header-container{
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
.header-lft{
    width: 14%;
    padding: 0;
    margin: 32px 0;
    float: left;
}
.header-right{
    width: 10%;
     float: right;
     padding: 0;
     margin: 32px 0;
}
.header-mdle{
    width: 90%;
    padding: 0;
    margin: 0px 0 0 0;
    float: left;
}
.header-mdle h1{
    padding: 0;
    margin: 15px 0 0 0;
    font-size: 48px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.header-mdle h1 span{
    color: #cf52bb;
}
/*.subscribe{
    width: 100%;
    margin: 0;
    padding: 0;
}*/
.inputfield{
    width:65%;
    float: left;
    padding: 0;
    margin: 0;
}
.input-field{
    width: 96%;
    padding: 8px 2%;
    margin: 0;
    background: #fff;
    border-radius: 5px;
    border: none;
    color: #e0a0d5;
    
}
.btn{
    width: 32%;
     float: right;
     padding: 0;
     margin: 0 0 0 6px;
}
/*.btn-subscribe{
    padding: 0;
    margin: 0;
    width: 100%;
    float: right;
}
.btn-subscribe a{
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-family: 'roboto-regular';
    background: #cf52bb;
    border-radius: 6px;
    float: left;
    text-decoration: none;
}
.btn-subscribe a:hover{
    background: #bf49ac;    
}*/
.facebook{
    padding: 0;
    margin: 0;
    float: left;
    width: 25px;
    height: 26px;
}
.facebook a{
    padding: 0;
    margin: 0;
    float: left;
    background: url("../images/facebook-icon.png") no-repeat;
    width: 25px;
    height: 26px;
}
.facebook a:hover{
    width: 25px;
    padding: 0;
    margin: 0;
    float: left;
    background: url("../images/hover_facebook.png") no-repeat;
    height: 26px;
}
.twitter{
    padding: 0;
    margin: 0 8px;
    float: left;
    width: 25px;
    height: 26px;
}
.twitter a{
    padding: 0;
    margin: 0;
    float: left;
    background: url("../images/twitter-icon.png") no-repeat;
    width: 25px;
    height: 26px;
}
.twitter a:hover{
    width: 25px;
    padding: 0;
    margin: 0;
    float: left;
    background: url("../images/hover_twitter.png") no-repeat;
    height: 26px;
}
.insta{
    padding: 0;
    margin: 0;
    float: left;
    width: 25px;
    height: 26px;
}
.insta a{
    padding: 0;
    margin: 0;
    float: left;
    background: url("../images/instagram-icon.png") no-repeat;
    width: 25px;
    height: 26px;
}
.insta a:hover{
    width: 25px;
    padding: 0;
    margin: 0;
    float: left;
    background: url("../images/hover-instagram.png") no-repeat;
    height: 26px;
}
.nav{
    width: 100%;
    margin: 0;
    padding: 25px 0;
    float: left;
    border-top: 1px solid #151414;
}
.nav ul{
    display: inline;
    padding: 0;
    margin: 0;
}
.nav ul li{
    list-style-type: circle!important;
    padding: 0 12px;
    margin: 0 ;
    font-size: 15px;
    color: #fff;
    display: inline;
}
.nav ul li a{
    font-size: 15px;
    color: #fff;
    padding: 0 ;
    margin: 0 ;
    text-decoration: none;
    font-family: 'roboto-medium';
    text-transform: uppercase;
    font-weight: normal;
}
.nav ul li a:hover{
    color: #cf52bb;
}
.dropdown{
        display: none;
    }
.dot{
    padding-right: 9px;
}
.nav-container{
    width: 80%;
    padding: 0;
    margin: 0 auto;
}
.banner{
    background: url("../images/banner-bg.png") -50px 0 repeat-x;
    width: 100%;
    padding: 0;
    float: left;
    margin: 0;
    background-size:cover;
}
.banner h1{
    font-family: 'museo_slab700';
    font-size: 42px;
    padding: 50px 0 0 20px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}
.banner h2{
    font-family: 'roboto-black';
    font-size: 38px;
    padding: 0 0 0 20px;
    margin: 0;
    color: #fc55e3;
    text-transform: uppercase;
    line-height: 44px;
}
.banner h3{
    font-family: 'just_another_handregular';
    font-size: 105px;
    padding: 0 0 50px 20px;
    margin: 0;
    color: #fff;
    font-weight: normal;
}
.content{
    background: #fff;
    padding: 20px 2% 40px 2%;
    margin: 0;
    width: 96%;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    float: left;
}
.content-left{
    width: 65%;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
}
.content-right{
    width: 33%;
    padding: 0;
    margin: 0;
    float: right;
}
.heading {
    background: url("../images/heading-bg.png") no-repeat;
    padding: 5% 0 4% 3%;
    margin: 0 auto;
    width: auto;
}
.heading h1 {
text-align: left;
padding: 35px 0 0 0;
margin: 0;
color: #d330bb;
font-family: 'museo_slab700';
font-weight: 900;
font-size: 53px;
text-transform: uppercase;
line-height: 44px;
}
.heading h1 span{
    font-size: 38px;
    color: #fff;
    font-weight: 300;
}
.content-left h2{
    font-size: 21px;
    color: #5e5e5e;
   font-family: 'roboto-regular';
   font-style: italic;
   font-weight: normal;
   text-align: left;
   padding-top: 5px ;
   margin: 0;
   line-height: 28px;
   float: left;
}
.before{
    margin: 30px 0;
    padding: 0;
    text-align: center;
}
.content-left p{
    font-size: 14px;
    color: #595959;
   font-family: 'roboto-regular';
   font-weight: normal;
   text-align: left;
   float: left;
   padding:0 ;
   margin: 0;
   line-height: 20px;
}
.chart{
    margin: 30px 0;
    padding: 0;
    text-align: center;
}
.problem_heading h1 {
text-align: left;
padding: 0px 0 0 0;
margin: 0;
color: #d330bb;
font-family: 'museo_slab700';
font-weight: 900;
font-size: 45px;
text-transform: uppercase;
line-height: 40px;
}
.problem_heading h1 span{
    font-size: 31px;
    color: #333333;
    font-weight: 300;
}
.grow_para{
    padding-top: 20px!important;
}
.content-left p span{
    color: #d330bb;
    font-family: 'roboto-medium';
}
.attain {
font-size: 65px;
color: #d110b5;
text-align: left;
font-family: 'just_another_handregular';
padding: 30px 0;
margin: 0;
line-height: 65px;
}
.btm_img{
    padding: 0;
    margin: 30px 0 0 0;   
}
.testimonial{
    width: 100%;
    padding: 0;
    margin: 30px 0 0 0;
    float: left;
}
.colm{
    background: #fff;
    padding: 20px 0;
    margin: 0 0 20px 0;
    border-radius: 6px;
    border: 1px solid #cfcfcf;
    float: left;
}
.colm_left{
    width: 32%;
    padding: 0;
    margin: 0;
    float: left;
}
.colm_right{
    width: 68%;
    padding: 0;
    margin: 0;
    float: right;
}
.colm_right p{
    font-size: 14px;
    color: #595959;
    padding: 0;
    margin: 0;
    font-family: 'roboto-regular';
    text-align: left;
}
.colm_right h5{
    font-size: 18px;
    color: #d330bb;
    padding: 15px 0 0 0;
    margin: 0;
    font-family: 'roboto-bold';
    text-align: left;
    text-transform: uppercase;
}
.stars{
    padding: 0;
    margin: 0;
    text-align: left;
}
.update{
    margin: 0;
    padding: 0 0 20px 0;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dadada;
}
.day{
    margin: 30px 0;
}
.footer{
    background: #000;
    padding: 0;
    margin: 70px 0 0 0;
    float: left;
    width: 100%;
}
.footer p{
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 14px;
    color: #fff;
    font-family: 'roboto-regular';
}
.update_heading{
    background: #000;
    padding: 0;
    margin: 0 0 30px 0;
    
}
.update_heading h1{
    padding: 20px 30px;
     margin: 0;
     font-size: 30px;
     color: #fff;
     font-family: 'museo_slab700';
     text-transform: uppercase;
     text-align: center;
}
.update_colm{
    width: 90%;
    padding: 0 5% 30px 5%;
    margin: 0;   
}
.update_colm h1{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #575757;
    font-family: 'roboto-regular';
    font-weight: normal;
}
.update_colm p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #959595;
    font-family: 'roboto-regular';
    font-weight: normal;
}
.detail{
    width: 100%;
    padding: 0 0 15px 0;
    margin: 0;
}
.date{
    font-size: 12px;
    float: left;
    padding: 0;
    margin: 0;
    width: 30%;
    color: #909090;
    font-family: 'roboto-regular';
}
.name{
    font-size: 12px;
    float: left;
    padding:0;
    margin: 0;
    width: 30%;
    color: #909090;
    font-family: 'roboto-regular';
}
.name span{
    color: #d53cbe;
}
.seperator{
   height: 1px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
   background: #e7e7e7;
   float: left;
   margin-top: 15px;
   margin-bottom: 15px;
}
.events{
    margin: 30px 0 0 0;
    padding: 0 0 20px 0;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dadada;
}
.events_heading{
    background: #000;
    padding: 0;
    margin: 0 0 20px 0;
    
}
.events_heading h1{
    padding: 20px 30px;
     margin: 0;
     font-size: 27px;
     color: #fff;
     font-family: 'museo_slab700';
     text-transform: uppercase;
     text-align: center;
}
.events_colm{
    width: 90%;
    padding: 0 5% 0 5%;
    margin: 0;   
}
.events_colm h1{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #575757;
    font-family: 'roboto-regular';
    font-weight: normal;
}
.events_colm p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #959595;
    font-family: 'roboto-regular';
    font-weight: normal;
}
.detail2{
    width: 100%;
    padding: 0;
    margin: 0;
}
.right-img{
    width: 94%;
    margin:30px 0 0;
    padding:20px 3%;
   /* border:2px solid #dadada;*/
    background: url('../images/gh.png') no-repeat;
   /* min-height: 150px;*/
   float: right;
}
#twitter-widget-0 {margin-top:20px!important;}
.right-img h1{
    font-size:24px;
    color: #fff;
    margin:0;
    padding:0;
    font-family: "museo_slab700";
    text-transform: uppercase;
    text-shadow: 0 3px 7px #2a1310;
}
.claimbtn {
    background:#e435ca;
    border-radius: 8px;
    color: #fff;
    display: block;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 900;
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 60%;
    float: left;
}
.claimbtn:hover{
    background: #c227ab;
}
.fbnew{
    width:100%;
    overflow: hidden;
    margin:20px 0 0;
    padding:0;
    border-radius: 3px;
    border:1px solid #cfcfcf;
}
.fbnew h3 {
    background: #edeff4;
    border-bottom:1px solid #d6dae5;
    color: #191919;
    float: left;
    font-family: "roboto";
    font-size: 15px;
    padding: 12px 3%;
    text-transform: uppercase;
    width: 94%;
}
.keralox-strong{
    font-size:36px;
    color: #fff;
    font-family: 'roboto';
    font-style: italic;
    margin:24px 0 0;
    padding:0;
    float: right;
}
.right-img h1 span{
    font-size: 27px;
}
.fb-row{
    width:94%;
    float: left;
    margin:10px 3% 10px 3%;
    padding:0;
    border-bottom: 1px solid #d6dae5;
}
.fb-l{
    float:left;
    margin:0;
    padding:0;
}
.fb-r{
    float: right;
    margin:0;
    padding:0;
    width:82%;
}
.fbhead{
    font-size:15px;
    color: #3b5a9b;
    margin:0;
    text-transform: uppercase;
    padding:0;
    font-family: 'roboto';
}
.fb-p{
    font-size:13px;
    color: #707276;
    margin:6px 0 8px;
    padding: 0;
}
.fbbox{
    background: #f8f8f8;
    border: 1px solid #e5e5e5;
    float: left;
    width:96%;
    padding:8px 2%;
    border-radius: 3px;
    margin:0 0 10px;
}
.boxhead{
    font-size:12px;
    text-transform: uppercase;
    color: #3b5a9b;
    margin:0;
    padding:0;
    font-weight: 500;
}
.box-p{
    font-size: 12px;
    color: #707276;
    margin:0;
    padding:0;
}
.fb-btm{
    float: left;
    width:100%;
    margin:0 0 20px;
    padding:0;
    font-size: 9px;
    color: #969696;
}
.fb-btm a{
    color: #335299;
    text-decoration: none;
    float: left;
    margin:0 4px;
}
.fbdate{
    color: #969696;
    margin:0 5px !important;
    padding:0;
    float: left;
}
.fb-btm a:hover{
    text-decoration: underline;
}
.fb-btm p{
    float: left;
    margin:0px 0px 0 0;
}
.addrow{
    border: none;
}
.about{
    margin: 30px 0 0 0;
    padding: 0 0 30px 0;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dadada;
}
.about_heading{
    background: #000;
    padding: 0;
    margin: 0 0 20px 0;
    
}
.about_heading h1{
    padding: 20px 30px;
     margin: 0;
     font-size: 27px;
     color: #fff;
     font-family: 'museo_slab700';
     text-transform: uppercase;
     text-align: center;
}
.about-text{
    width: 100%;
    padding: 0;
    margin: 0;
}
.about-text h1{
    padding: 5px 0 20px 0;
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: #141414;
    font-family: 'roboto-light';
    font-weight: normal; 
    text-transform: uppercase;
}
.about-text p{
    padding: 0 20px;
    text-align: center;
    margin: 0;
    font-size: 16px;
    color: #8c8c8c;
    font-family: 'roboto-regular';
    font-weight: normal; 
    font-style: italic;
}
.comingsoon{
     width: 80%;
     padding: 0;
     margin: 0 auto;
}
.comingsoon h1{
    color: #d110b5;
    font-size: 170px;
    font-weight: normal;
    font-family: 'just_another_handregular';
    text-align: center;
    text-transform: uppercase;
    line-height: 120px;
    padding-top: 140px;
}
.comingsoon h2{
    color: #020001;
    font-size: 36px;
    font-weight: normal;
    font-family: 'museo_slab700';
    text-align: center;
}
.comingsoon p{
    color: #020001;
    font-size: 16px;
    font-weight: normal;
    font-family: 'roboto-regular';
    text-align: center;
    padding-top: 15px;
    padding-bottom: 100px;
}
.facebook_plugin{
    width: 100%;
    padding: 0;
    margin: 0;
}
.claim{
    width: 100%;
    padding: 0px 0 0 0;
    margin: 30px 0;
    border: 1px solid #edb6e5;
    float: left;
}
.claim_left{
    width: 62%;
    padding: 0;
    margin: 0;
    float: left;
}
.claim_left h1{
    font-size: 44px;
    padding: 0 0 0 20px;
    margin: 0;
    color: #d330bb;
    text-transform: uppercase;
    font-family: 'museo_slab700';
    font-weight: 900;
    line-height: 1;
}
.claim_left h3{
    font-size: 32px;
    padding: 20px 0 0 20px;
    margin: 0;
    color: #191919;
    text-transform: uppercase;
    font-family: 'museo_slab700';
    line-height: 1;
}
.claim_left h2{
    font-size: 36px;
    padding: 10px 0 0 20px;
    margin: 0;
    color: #191919;
    text-transform: uppercase;
    font-family: 'museo_slab700';
    font-weight: normal;
    line-height: 40px;
    font-style: normal;
    line-height: 1;
}
.claim_left h2 span{
    color: #d330bb;
    font-weight: 900;
}
.claim_right{
    float: right;
    padding: 0;
    margin: 0;
    position: relative;
}
.btn_claim{
    float: left;
    padding: 0;
    margin: 0 0 0 20px;
}
.btn_claim a{
    float: left;
    padding: 15px 25px;
    margin: 40px 0 0 0;
    max-width: 273px;
    font-size: 23px;
    font-family: 'roboto-black';
    background: -webkit-linear-gradient(#e936cf, #b721a1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e936cf, #b721a1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e936cf, #b721a1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e936cf, #b721a1); /* Standard syntax (must be last) */
    background-color:#e936cf;
    border-radius: 12px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.btn_claim a:hover{
     background: -webkit-linear-gradient(#b721a1, #e936cf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b721a1, #e936cf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b721a1, #e936cf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b721a1, #e936cf); /* Standard syntax (must be last) */
    background-color:#b721a1;   
}
.bottle img{
position: absolute;
float: right;
margin: 4% 0 0 -6%;
padding: 0;
z-index: 1;
}
.arrow img{
position: absolute;
margin:190px 0 0 -175px;
padding: 0;
float: right;
}
.problem_heading{
    float: left;
    padding: 0;
    margin: 30px 0 0 0 ;
    width: 100%;
}
.claim2 {
width: 93%;
padding: 0;
margin: 30px 3%;
background: url("../images/img-1.jpg") no-repeat;
float: left;
}
.btn_claim2{
float: right;
padding: 0;
margin: 0 -111px 0 0;
position: relative;
}
.btn_claim2 a{
    float: left;
    padding: 15px 20px;
    margin: 40px 0 54px 0;
    max-width: 243px;
    font-size: 20px;
    font-family: 'roboto-black';
    background: -webkit-linear-gradient(#e936cf, #b721a1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e936cf, #b721a1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e936cf, #b721a1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e936cf, #b721a1); /* Standard syntax (must be last) */
    background-color:#e936cf;
    border-radius: 12px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.btn_claim2 a:hover{
     background: -webkit-linear-gradient(#b721a1, #e936cf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b721a1, #e936cf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b721a1, #e936cf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b721a1, #e936cf); /* Standard syntax (must be last) */
    background-color:#b721a1;   
}
.claim2 h1{
    font-size: 36px;
    color: #fff;
    padding: 30px 20px 0 40% ;
    margin: 0;
    font-style:italic;
    font-family: 'roboto';
    text-align: center;
    text-transform: uppercase;
    float: right;
}
.claim2 h1 span{
    color: #d330bb;
}
.white_arrow{
float: right;
position: relative;
padding: 0;
margin: -30px 80px 0 0px;
}

.claim_right img{
    display: block;
}
.claim_left{
    width:62%;
}
.fixed{
    position: fixed;
    float: left;
    width:100%;
    margin:0;
    padding:0;
    background: #d330bb;
    display: none;
    bottom: 0;
    z-index: 99999;
}
/*.fixed .fixedarrow{
    font-size:18px;
    color: #fff;
    text-transform: uppercase;
    padding:15px 5%;
    float: left;
    border-right: 1px solid #f739db;
    font-weight: bold;
    text-decoration: none;
    width: 2.5%;
}*/
.fixed .fixedarrow {
font-size: 18px;
color: #fff;
text-transform: uppercase;
padding: 15px 5%;
float: left;
border-right: 1px solid #f739db;
font-weight: bold;
text-decoration: none;
width: 3%;
text-align: center;
vertical-align: middle;
}
/*.fixed .a-middle{
    font-size:18px;
    color: #fff;
    text-transform: uppercase;
    padding:15px 23%;
    float: left;
    border-right: 1px solid #f739db;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}*/
.fixed .a-middle {
font-size: 18px;
color: #fff;
text-transform: uppercase;
padding: 0;
float: left;
border-right: 1px solid #f739db;
font-weight: bold;
text-decoration: none;
text-align: center;
width: 73.7%;
line-height: 54px;
}
.fixed .rightarrow {
font-size: 18px;
color: #fff;
text-transform: uppercase;
padding: 15px 5%;
float: right;
border-right: 1px solid #f739db;
font-weight: bold;
text-decoration: none;
width: 3%;
text-align: center;
vertical-align: middle;
}
.lasta{
    border-right:none !important;
}
.fixed .a-middle:hover{
    background: #f049d7;
}
.fixed .fixedarrow:hover{
    background: #f049d7;
}
.fixed .rightarrow:hover{
    background: #f049d7;
}
.bottle-responsive{
    display: none;
}
.content-left h6{
    font-size: 14px;
    text-transform: uppercase;
    color: #d330bb;
    padding-bottom: 20px;
}
p a{
    color: #595959;
    text-decoration: none;
}
p span a{
    color: #d330bb;
    text-decoration: none;
}
h2 a{
    color: #5e5e5e;
    text-decoration: none;
}
.right_para{
  font-size: 15px;
  color: #fff;
  padding: 10px 0 0 8px;
  margin: 0;
  font-family: 'roboto-bold';
}
.left_para {
  font-size: 15px!important;
  color: #fff!important;
  padding: 0 0 0 0!important;
  margin: -38px 9% 0px 0!important;
  font-family: 'roboto-bold'!important;
  float: right!important;
  text-align: right!important;
}
.left_para2 {
  font-size: 15px!important;
  color: #d330bb!important;
  padding: 9px 0 0 14%!important;
  margin: 5px 0 23px 0!important;
  font-family: 'roboto-bold'!important;
  float: left!important;
  text-align: left!important;
}



/***media css***/
@media screen and (max-width:1250px){
    .bottle img{
        margin: 6% 0 0 -8%;
    }
}

@media screen and (max-width:1150px){
    .maincontainer{
        width: 96%;
        margin: 0 2%;
    }
    .update_heading h1{
        font-size: 28px;
    }
    .events_heading h1{
        font-size: 24px;
    }
    .update_colm h1{
        font-size: 15px;
    }
    .events_colm h1{
        font-size: 15px;
    }
    .about-text h1{
        font-size: 32px;
    }
    .about-text p{
        font-size: 14px;
    }
    .heading h1{
        font-size: 48px;
    }
    .heading h1 span{
        font-size: 34px;
    }
    .content-left h2{
        font-size: 30px;
    }
    .heading{
        width: 97%;
    }
    .problem_heading h1{
        font-size: 34px;
    }
    .header-mdle h1{
        font-size: 45px;
    }
    .header-mdle{
        width:89%;
    }
    .header-right{
        width:11%;
    }
    .fb-r{
        width:80%;
    }
    .fbhead{
        font-size:14px;
    }
    .fb-p{
        font-size:12px;
    }
    .bottle img {
        margin: 6% 0 0 -4%;
    }
    .arrow img{
        margin:192px 0 0 -13%;
    }
    .right-img h1{
        font-size:22px;
    }
    .right-img h1 span{
        font-size:25px;
    }
    .keralox-strong{
        font-size:32px;
    }
    .claimbtn{
        font-size:14px;
    }
    .claim2{
        margin:30px 0 30px 0;
    }
    .claim2 h1{
        padding: 30px 20px 0 35%;
        font-size: 32px;
    }
    .white_arrow{
        margin:-25px 68px 0 0px;
    }
    .btn_claim2 a{
        margin:50px 0 53px 0;
    }
}

@media screen and (max-width:1050px){
    .banner{
        background: url("../images/banner-bg.png") -380px 0 repeat-x!important;
    }
    .banner h1{
        font-size: 43px;
    }
    .banner h2{
     font-size: 36px; 
     line-height: 40px;
    }
    .banner h3{
        font-size: 95px;
    }
    .heading h1{
        padding: 0px 0 16px 0;
        font-size: 45px;
    }
    .heading h1 span {
    font-size: 33px;
    }
    .update_colm h1{
        font-size: 14px;
    }
    .events_colm h1{
        font-size: 14px;
    }
    .events_heading h1 {
        font-size: 22px;
    }
    .about-text h1 {
        font-size: 29px;
    }
    .update_heading{
        margin: 0 0 20px 0;
    }
    .nav-container{
        width: 85%;
    }
    .header-container{
        width: 98%;
    }
    .fb-p{
        font-size:11px;
    }
    .fbhead{
        font-size:13px;
    }
    .claim_left h3{
        font-size:30px;
    }
    .claim_left h1{
        font-size:42px;
    }
    .content-left h2{
        font-size: 30px;
    }
    .btn_claim a{
        font-size:16px;
    }
    .footer{
        margin:50px 0 0 0;
    }
    .keralox-strong{
        font-size:28px;
    }
    .attain{
        font-size:50px;
        line-height: 50px;
    }
    .content-left p{
        font-size:13px;
    }
    .attain{
        padding:20px 0;
    }
    .claim2 h1{
        font-size: 30px;
    }
    .btn_claim2 a{
        padding:12px 20px;
    }
    .claim_left{
        width:60%;
    }
    .btn_claim2 {
    margin: 0 -92px 0 0;
    }
    .white_arrow {
    margin: -25px 52px 0 0px;
    }
    .arrow img {
    margin: 197px 0 0 -17%;
    }
    .bottle img {
    margin: 7% 0 0 -8%;
    }
    
}
@media screen and (max-width:1000px){
    .nav-container {
        width: 88%;
    }
    .claim_left{
        width:58%;
    }
    .bottle img {
        margin: 8% 0 0 -8%;
    }    
    .arrow img {
        margin: 205px 0 0 -17%;
    } 
    .claim2 h1 {
    padding: 30px 12px 0 35%;
    }
    .content-left h2 {
    font-size: 28px;
    }
    
    
}

@media screen and (max-width:960px){
    .nav-container {
    width: 87%;
    }
    .nav ul li{
        padding: 0 13px;
    } 
    .nav ul li a{
        font-size: 14px;
    }   
    .header-mdle h1 {
        font-size: 41px;
    }
    .banner h1 {
        font-size: 40px;
    }
    .banner h2 {
        font-size: 34px;
        line-height: 36px;
    }
    .banner h3 {
        font-size: 92px;
    }
    .banner {
        background: url("../images/banner-bg.png") -450px 0 repeat-x!important;
    }
    .update_heading h1 {
        font-size: 25px;
        padding: 18px 28px
    }
    .update_colm p{
        font-size: 13px;
    }
    .date{
        font-size: 11px;
    }
    .name{
        font-size: 11px;
    }
    .events_heading h1 {
        font-size: 20px;
    }
    .about-text h1 {
        font-size: 25px;
    }
    .about-text p {
        font-size: 13px;
    }
    .heading {
        width: 98%;
    }
    .content-left h2 {
        font-size: 24px;
    }
    .attain{
        font-size: 46px;
        padding: 24px 0;
        line-height: 46px;
    }
    .problem_heading h1 {
        font-size: 32px;
    }
    .colm_left img{
        max-width: 90%;
    }
    .colm_right p{
        font-size: 13px;
    }
    .colm_right h5{
        font-size: 16px;
        padding: 10px 0 0 0;
    }
    .heading h1{
        font-size: 40px;
        padding-bottom: 0;
        padding-top: 25px;
    }
    .comingsoon h1{
        font-size: 160px;
        padding-top: 100px;
    }
    .comingsoon p{
        padding-bottom: 90px;
    }
    .claimbtn{
        font-size: 12px;
    }
    .right-img h1{
        font-size:20px;
    }
    .right-img h1 span{
        font-size:23px;
    }
    .claim_left{
        width:56%;
    }
    .bottle img  {
    margin: 12% 0 0 -5%;
    max-width: 9%;
    }
    .arrow img {
    margin: 195px 0 0 -15%;
    } 
    .white_arrow {
    margin: -17px 37px 0 0px;
    }
    .claim2 h1 {
    padding: 30px 12px 0 35%;
    font-size: 26px;
    line-height: 1;
    }
    .btn_claim2 a {
    padding: 12px 20px;
    font-size: 15px;
    }
    .white_arrow img{
    max-width: 80%;
    }
    .btn_claim2 {
    margin: 0 -75px 0 0;
    }
   .heading h1 span {
    font-size: 30px;
    } 
    .right-img{
     background: url('../images/gh.png') -36px 0 no-repeat;
     padding-top: 15px;
    }
    .left_para{
        font-size: 13px!important;
        padding: 100px 0 0 0!important;
    }
    
    
}
@media screen and (max-width:900px){
    .header-mdle{
        width:88%;
    }    
    .nav-container {
        width: 91%;
    }
    .banner h1 {
        font-size: 36px;
    }
    .banner h2 {
        font-size: 32px;
    }
    .banner h3 {
     font-size: 90px;
    }
    .update_heading h1{
        font-size: 24px;
    }
    .events_heading h1 {
        font-size: 18px;
    }
    .about_heading h1{
        font-size: 26px;
        padding: 17px 25px;
    }
    .about-text h1 {
        font-size: 25px;
        padding-bottom: 15px;
    }
    .banner {
        background: url("../images/banner-bg.png") -500px 0 repeat-x!important;
    }
    .heading {
        width: 100%;
    }
    .content-left h2 {
        line-height: 24px;
    }
    .before{
        margin: 20px 0;
    }
    .problem_heading h1 {
        font-size: 30px;
    }
    .problem_heading h1 span{
        font-size: 23px;
    }
    .heading h1 {
        font-size: 36px;
        line-height: 38px;
    }
    .heading h1 span {
        font-size: 28px;
    }
    .header-lft img {
        max-width: 21%;
    }
    .comingsoon h1{
        font-size: 150px;
    }
    .comingsoon p {
    padding-bottom: 80px;
    }
    .nav{
        text-align: center;
        padding: 15px 0;
    }
    .nav ul li a{
        font-size:12px;
    }
    .nav ul li{
        padding:0 8px;
    }
    .header-right{
        width:12%;
    }
    .content-right{
        width:32%;
    }
    .keralox-strong{
        margin:50px 0 0;
        font-size: 25px;
    }
    .right-img{
        margin:20px 0 0;
    }
    .bottle img {
        margin: 27px 0px 0 7px;
        max-width: 9%;
    }    
    .fb-r{
        width:75%;
    }
    .fbhead{
        font-size: 11px;
    }
    .content-left p{
        font-size: 12px;
    }
    .claim2 {
        margin: 20px 0;
    }
    .boxhead{
        font-size: 11px;
    }
    .box-p{
        font-size: 11px;
    }
    .attain{
        padding:20px 0;
    }
    .attain{
        font-size: 45px;
    }
    .claim_left h3{
        font-size: 25px;
    }
    .claim_left h1{
        font-size: 35px;
    }
    .btn_claim a{
        font-size: 14px;
    }
    .claim_left{
        width: 53%;
    }
    .claim_right img{
        max-width: 80%;
        position: relative;
        right: -32px;
    }  
    .claim_left h1{
        padding:0 0 0 5px;
    }
    .claim_left h3{
        padding:20px 0 0 5px;
    }
    .claim_left h2{
        padding:10px 0 0 5px;
    }
    .btn_claim{
        margin:0 0 0 5px;
    }
    .btn_claim a{
        margin:15px 0 0 0;
    }
    .bottle img{
        margin:8% 0 0 -2%;
    }
    .arrow img {
        margin: 152px 0 0 -13%;
    } 
    .white_arrow {
    margin: -14px 25px 0 0px;
    }
    .btn_claim2 {
    margin: 0 -70px 0 0;
    }
    .btn_claim2 a {
    font-size: 15px;
    padding: 11px 17px;
    }
    .claim2 h1{
        font-size: 24px;
    }
    .right-img {
    background: url('../images/gh.png') -48px 0 no-repeat;
    padding-top: 15px;
    }
    .claim_left h2 {
    padding: 10px 0 0 5px;
    font-size: 23px;
    }
    
}
@media screen and (max-width:850px){
    .header-mdle{
        width:87%;
    } 
    .nav-container {
        width: 98%;
    }
    .banner h1 {
        font-size: 34px;
    }
    .banner h2 {
        font-size: 30px;
    }
    .banner h3 {
        font-size: 87px;
    }
    .update_heading h1 {
        font-size: 22px;
    }
    .heading h1 {
        font-size: 32px;
        line-height: 36px;
    }
    .heading h1 span {
        font-size: 27px;
    }
    .content-left h2 {
        font-size: 21px;
        line-height: 24px;
    }
    .content-left h2 span {
        font-size: 21px;
    }
    .before {
        margin: 15px 0;
    }
    .attain {
        font-size: 42px;
        padding: 20px 0;
        line-height: 40px;
    }
    .problem_heading h1 {
        font-size: 28px;
    }
    .banner {
        background: url("../images/banner-bg.png") -520px 0 repeat-x!important;
    }
    .header-mdle h1 {
        font-size: 39px;
        margin-top: 18px;
    }
    .events_heading h1 {
        font-size: 17px;
    }
    .about_heading h1 {
        font-size: 24px;
        padding: 15px 25px;
    }
    .about-text h1 {
        font-size: 24px;
        padding-bottom: 15px;
    }
    .comingsoon h1{
        font-size: 140px;
    }
    .header-right{
        width:13%;
    }
    .fbhead{
        font-size:10px;
    }
    .boxhead{
        font-size:10px;
    }
    .box-p{
        font-size: 10px;    
    }
    .fb-p{
        font-size:10px;
    }
    .claim_left{
        width:50%;
    }
    .claim_right img{
        right: -19.7%;
    }
    .bottle img {
        margin:9% 0 0 -4px;
    }
    .arrow img {
    margin: 160px 0 0 -11%;
    }  
    .claim2 h1{
        font-size:22px;
    }
    .white_arrow {
        margin: -12px 20px 0 0px;
    }    
    .btn_claim2{
        margin:0 -70px 0 0;
    }
    .btn_claim2 a{
    font-size: 13px;
    padding: 12px 22px;
    }
    .problem_heading h1{
        line-height: 30px;
    }
    .right-img {
    background: url('../images/gh.png') -58px 0 no-repeat;
    padding-top: 11px;
    }
    .right-img h1 span {
    font-size: 22px;
    }
    .right-img h1 {
    font-size: 19px;
    text-align: left;
    }
    
}
@media screen and (max-width:800px){
        .content{
        width: 98%;
        padding: 0 1% 40px 1%;
        border-left: none;
        border-right: none;
    }
    .maincontainer{
        width: 100%;
        margin: 0 auto;
    }
    .header-container {
     width: 100%;
     text-align: center;
    }
    .header-lft {
        width: 100%;
        padding: 0;
        margin: 12px 0;
        text-align: center;
    }
    .header-mdle {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .header-right {
        width: 17%;
        float: none;
        padding: 0;
        margin:25px auto 0;
    }
    .header-mdle h1{
        margin:0;
    }
    .nav{
        margin-top: 20px;
    }
    .nav-container{
        display: none;
    }
    .dropdown {
        display: block;
        width: 96%;
        margin: 0 2%;
    }
    .menu{
        width: 100%;
        height: 30px;
        font-size: 14px;
        text-transform: uppercase;
    }
    .content-left{
        float: none;
        width: 100%;
    }
    .heading {
        width: 91%;
        margin-top: 20px;
    }
    .content-right{
        width: 100%;
    }
    .detail{
        width: 50%;
    }
    .footer p{
        font-size: 12px;
    }
    .detail2{
        width: 50%;
    }
    .colm_right p{
        padding-right: 10px;
    }
    .events_heading h1 {
        font-size: 24px;
    }
    .update_heading h1 {
        font-size: 24px;
    }
    .comingsoon h1 {
    font-size: 130px;
    }
    .comingsoon p {
    padding-bottom: 60px;
    }
    .content-left h2{
        text-align: center;
        margin:5px 0 0;
        padding:0;
    }
    .content-left p{
        text-align: center;
    }
   .heading h1 {
text-align: center;
font-size: 38px;
line-height: 1;
padding: 24px 0 0px 0;
}
    .banner h3{
        font-size:75px;
    }
    .content-left{
        text-align: center;
    }
    .banner h1{
        font-size:30px;
    }
    .banner h2{
        font-size:28px;
    }
    .claim_right img {
        right: -20%;
    }
    .claim_left{
        width:65%;
        text-align: left;
    }
    .claim_left h2 br{
        display: none;
    }
    .btn_claim a {
        width: 96%;
        display: block;
        margin: 15px 0 0 0;
        float: none;
    }
    .claim_left h3{
        font-size:38px;
    }
    .claim_left h1{
        font-size: 48px;    
    }
    .content-left h2{
        font-size:28px;
        text-align: left;
    }
    .bottle img {
margin: 5px 0 0 -3%;
max-width: 13%;
position: absolute;
}
    .problem_heading h1{
       text-align: center;
        line-height: 36px;
        font-size: 34px;
    }
    .problem_heading h1 span {
    font-size: 30px;
    }
    .attain{
        font-size: 35px;
        text-align: center;
    }
    .claim2 h1{
        float: left;
        width:100%;
        padding:30px 0 0;
    }
    .claim2 h1 br{
        display: none;
    }
    .btn_claim2 {
    margin: 21% -47% 0 0;
    float: right;
    width: 50%;
    }
    .btn_claim2 a{
        float: none;
    }
    .claim2 h1 {
    font-size: 26px;
    margin-right: 38px;
    text-align: center;
    width: 40%;
    float: right;
    }
    .claim2{
        min-height: 275px;
    }
    .white_arrow {
    margin: 10% -34% 0 0px;
    float: right;
    }
    .claim2 {
        margin: 20px 0 20px 3%;
    }    
    .content-right{
        text-align: center;
    }
    .right-img {
margin: 10px 30%;
width: 34%;
}   
    .fb-r{
        text-align: left;
    }
    .fb-r{
        width:90%;
    }
    .content-left h2{
        float: left;
    }
    .content-left p{
        float: left;
        text-align: left;
    }
    .content-left h2{
        width:100%;
    }
    .arrow img {
margin: 23px 0 0 0;
position: relative;
float: left;
left: 30%;
}    
    .fbhead{
        font-size:12px; 
    }
    .fb-p{
        font-size:11px;
    }
    .footer {
        margin: 40px 0 0 0;
        padding:0 0 60px;
    }    
    .fixed{
        display: block;
    }
    .fixed ul li a{
        padding:15px 11.1%;
    }
/*    .fixed .a-middle{
        padding:15px 22%;
    }*/
.btn_claim {
margin: 10px 0 0 5px;
width: 100%;
}
.content-left h2 span {
font-size: 28px;
}
.btn_claim a {
font-size: 16px;
text-align: center;
}
.left_para {
  font-size: 13px!important;
  padding: 0px 0 0 0!important;
  margin: 25px 13% 23px 0!important;
}
.right_para {
  font-size: 14px;
  color: #fff;
  padding: 10px 0 0 0px;
  margin: 0;
  font-family: 'roboto-bold';
  text-align: left;
}


}
@media screen and (max-width:750px){
    .claim2 h1{
        margin-right: 10px;
        width: 41%;
    }    
    .problem_heading{
        margin-top: 20px;
    }
    .right-img {
margin: 10px 28%;
width: 37%;
}
.arrow img {
margin: 8px 0 0 0;
position: relative;
float: left;
left: 26%;
}
.white_arrow {
  margin: 10% -36% 0 0px;
  float: right;
}
.left_para {
  font-size: 13px!important;
  padding: 0px 0 0 0!important;
  margin: 23px 10% 23px 0!important;
}
.right_para{
    font-size: 12px;
}

}
@media screen and (max-width:700px){
    .banner {
        background: url("../images/banner-bg.png") -580px 0 repeat-x!important;
    }
    .banner h1 {
        font-size: 30px;
    }
    .banner h2 {
        font-size: 27px;
    }
    .banner h3 {
        font-size: 82px;
    }
    .heading {
        width: 89%;
    }
    .comingsoon p {
    padding-bottom: 30px;
    font-size: 14px;
    }
    .comingsoon h2{
        font-size: 26px;
    }
    
    .comingsoon h1 {
    font-size: 100px;
    padding-top: 90px;
    }
    .claim_left{
        width:60%;
    }
    .btn_claim a {
    margin: 15px 0 0 1%;
    }
    .bottle img{
        left:58%;
    }
    .content-left h2{
        margin:15px 0 0;
        font-size: 24px;
    }
    .attain{
        font-size: 32px;
    }
/*    .fixed .a-middle{
        padding:15px 21%;
    }  */
    .claim2 h1{
        width: 45%;
    }
    .white_arrow {
    margin: 11% -38% 0 0px;
    }
    .btn_claim2{
    margin: 23% -51% 0 0;    
    }
    .right-img {
margin: 10px 26%;
width: 41%;
}
.fixed .a-middle{
    width: 73.6%;
}
.arrow img {
margin: 10px 0 0 0;
position: relative;
float: left;
left: 20%;
}
.content-left h2 span {
font-size: 24px;
}
.bottle img {
margin: 30px 0 0 0;
max-width: 13%;
position: absolute;
}


}
@media screen and (max-width:650px){
    .heading {
        width: 91%;
    }

    .banner {
        background: url("../images/banner-bg.png") -605px 0 repeat-x!important;
    }
    .claim_left{
        width:55%;
    }
    .btn_claim a {
        margin: 15px 0 0 5%;
    }    
    .claim_left h1{
        font-size:35px;
    }
    .claim_left h3{
        font-size: 30px;
    }
    .bottle img {
left: 55%;
margin: 25px 0 0 0;
max-width: 15%;
}
    .arrow img  {
  margin: 24px 0 0 0;
  left: 12%;
}
    .attain{
        font-size:29px;
    }
    .right-img {
width: 45%;
margin: 10px 25%;
}
    .fb-r{
        width:88%;
    }
    .content-left h2{
        font-size:15px;
    }
    .heading{
        width:98%;
    }
    .content-left h2{
        font-size:12px;
    }
    .problem_heading h1{
        font-size: 25px;
    }
    .content-left p{
        font-size:11px;
    }
    .problem_heading h1 span{
        font-size:20px;
    }
/*    .fixed .a-middle {
        padding: 15px 19.3%;
    }  */
    .claim2 h1 {
    width: 47%;
    }
    .white_arrow {
    margin: 12% -40% 0 0px;
    }
    .white_arrow img {
    max-width: 70%;
    }
    .problem_heading h1{
        line-height: 30px;
    }
    .btn_claim {
margin: 10px 0 0 5px;
width: 60%;
}
.claim_left h2{
    font-size: 20px;
}
.claim_left h2 span{
    font-size: 20px;
}

    
}
@media screen and (max-width:600px){
    .header-right{
        width: 21%;
    }
    .comingsoon h1 {
        font-size: 90px;
        padding-top: 90px;
        line-height: 90px;
    }
    .comingsoon h2 {
        font-size: 24px;
    }
.comingsoon p {
    padding-bottom: 65px;
    font-size: 13px;
}    
/*    .fixed .a-middle {
        padding: 15px 17.3%;
    }    */
    .right-img {
width: 50%;
margin: 10px 21%;
}   
    .claim2 h1 {
    width: 50%;
    }
    .white_arrow {
    margin: 13% -43% 0 0px;
    }
    .btn_claim2 {
    margin: 26% -55% 0 0;
    }
    .claim2 {
    min-height: 200px;
    background-size: 100%;
    }
    .claim_left h3 {
font-size: 27px;
}
.claim_left h1 {
font-size: 32px;
}
/*.claim_left h2 {
font-size: 19px;
margin-top: 5px;
}
.claim_left h2 span {
font-size: 19px;
}*/
claim_left h2 {
font-size: 16px;
margin-top: 5px;
}
.claim_left h2 span {
font-size: 16px;
}
.bottle img {
left: 52%;
margin: 35px 0 0 0;
max-width: 14%;
}
.claim_right img{
    max-width: 70%;
}
.bottle img {
left: 52%;
margin: 35px 0 0 0;
max-width: 14%;
}
.left_para2{
  padding: 0px 0% 0 0!important;
  margin: 5px 0 0 44px!important;
  font-size: 13px!important;
}
.arrow img {
  margin: 8px 0 0 0;
  left: 10%;
}
 .left_para {
  font-size: 13px!important;
  padding: 0px 0 0 0!important;
  margin: 23px 12% 23px 0!important;
}   
    
    
}
@media screen and (max-width:550px){
    .right-img {
width: 50%;
margin: 10px 22%;
}
    .fb-r{
        width:85%;
    }
    .claim2 h1 {
    padding: 13px 0 0;
    width: 57%;
    }
    .claim2 {
    min-height: 189px;
    background-size: 100%;
    }
    .problem_heading {
    margin-top: 10px;
    }
/*    .claim_right{
        width:100%;
    }*/
/*    .claim_right img {
        right: -30%;
        max-width: 35%;
    }   */
.claim_right img {
right: -49%;
max-width: 51%;
}
    .btn_claim a {
        margin: 0;
    }
    .bottle{
        float: left;
        width:100%;
    }
/*    .claim_left{
        width:100%;
        text-align: center;
    }*/
.claim_left {
width: 50%;
text-align: left;
}
    .bottle img {
        left: -40%;
        margin: 10px 0;
        max-width: 18%;
    }    
    .arrow{
        display: none;
    }
    /*.btn_claim{
        width:96%;
        margin-bottom: 20px;
    }*/
    .btn_claim {
  width: 81%;
  margin-bottom: 0;
}
.btn_claim a{
  padding: 13px 25px;  
}
/*    .fixed .a-middle {
        padding: 15px 15%;
    }  */
    .white_arrow {
    margin: 11% -48% 0 0px;
    }
    .claim_left h2 {
font-size: 16px;
margin-top: 5px;
text-align: left;
}
/*.bottle-responsive{
    display: block;
}*/
.bottle-responsive {
max-width: 14%;
padding: 0;
margin: -26px 0 0 0;
position: absolute;
left: 60%;
display: block;
}
    
    
    
}
@media screen and (max-width:500px){
.banner {
    background: url("../images/banner-bg.png") -690px 0 repeat-x!important;
}
.banner h1 {
font-size: 25px;
} 
.banner h2 {
    font-size: 22px;
    line-height: 26px;
}
.banner h3 {
    font-size: 65px;
}
.heading h1 {
    font-size: 28px;
    line-height: 30px;
}
.content-left h2 {
    font-size: 15px;
    line-height: 21px;
}
.before {
    margin: 10px 0;
}
.problem_heading h1 {
    font-size: 26px;
    padding-top: 0px;
    line-height: 30px;
}
.attain {
    font-size: 35px;
    padding: 15px 0;
    line-height: 34px;
}
.comingsoon h2 {
    font-size: 18px;
}
.comingsoon h1{
    font-size: 70px;
}
.comingsoon p{
    padding-bottom: 60px;
}
/*    .fixed .a-middle {
        padding: 15px 12.2%;
    }*/
    .white_arrow {
    margin: 11% -51% 0 0px;
    }
.claim2 h1 {
padding: 13px 0 0;
width: 60%;
font-size: 24px;
} 
.claim2 {
min-height: 170px;
background-size: 100%;
}
.heading h1 span {
font-size: 24px;
}
.heading {
width: 100%;
padding-left: 0;
}
.btn_claim2 {
margin: 28% -61% 0 0;
}
.right-img {
width: 63%;
margin: 0 15%;
}
.fixed .a-middle {
width: 73.5%;
}
.claim_left {
width: 45%;
text-align: left;
}
.claim_left h3 {
font-size: 24px;
}
.claim_left h1 {
font-size: 28px;
}
.claim_right img {
right: -49%;
max-width: 49%;
}
.btn_claim a {
font-size: 14px;
text-align: center;
}
.claim_left h2 {
font-size: 13px;
line-height: 1;
}
.claim_left h2 span {
font-size: 12px;
}
.bottle-responsive {
max-width: 15%;
margin: -24px 0 0 0;
left: 56%;
}
.left_para {
  font-size: 13px!important;
  padding: 0px 0 0 0!important;
  margin: 16px 9% 0 0!important;
}




}
@media screen and (max-width:450px){
.header-mdle h1 {
    font-size: 36px;
}  
.header-right {
    width: 25%;
}
.heading h1 {
    font-size: 26px;
    line-height: 26px;
}    
.heading h1 span {
    font-size: 20px;
}
.content-left h2 {
    font-size: 13px;
    line-height: 19px;
}
.content-left p{
    font-size: 13px;
    line-height: 18px;
}
.problem_heading h1 {
    font-size: 24px;
    padding-top: 0px;
    line-height: 28px;
}
.problem_heading h1 span {
    font-size: 22px;
}
.grow_para {
    padding-top: 14px!important;
} 
.attain {
    font-size: 31px;
    padding: 13px 0;
    line-height: 32px;
}
.colm_right h5{
    font-size: 14px;
}
.update_heading h1 {
    font-size: 22px;
}
.events_heading h1 {
    font-size: 22px;
}
.about_heading{
    margin-bottom: 10px;
}
.about-text h1 {
    font-size: 24px;
    padding-bottom: 9px;
}
.footer p {
    font-size: 10px;
}
.detail2 {
    width: 80%;
}
.events_colm h1 {
    font-size: 13px;
}
.update_colm h1 {
    font-size: 13px;
}
.detail {
    width: 80%;
}
    .right-img {
width: 72%;
margin: 0 10%;
}
    .fb-r{
        width:82%;
    }
    .fb-btm a{
        margin:0 3px;
    }
    .fb-p{
        font-size:10px;
    }
    .fbhead{
        font-size:11px;
    }
    .btn_claim a {
        margin: 15px 0 0 0;
        font-size: 12px;
    }
    .claim_left h1{
        font-size:21px;
    }
    .claim_left h3{
        font-size:19px;
    }
    .heading{
        width:96%;
    }
    .fixed .a-middle{
        font-size:15px;
    }
    .white_arrow {
    margin: 12% -54% 0 0px;
    }
    .white_arrow img {
    max-width: 60%;
    }
    .claim2 h1 {
    padding: 13px 0 0;
    width: 64%;
    font-size: 22px;
    }
    .claim2 {
    min-height: 150px;
    background-size: 100%;
    }
    .fixed .a-middle {
    width: 73.4%;
    }
    .claim_left h2 {
font-size: 15px;
line-height: 1;
padding-left: 7px;
}
.claim_left {
width: 38%;
text-align: left;
}
.btn_claim {
width: 90%;
margin-bottom: 0px;
margin-top: 0;
}
.bottle-responsive {
max-width: 17%;
margin: -12px 0 0 0;
left: 51%;
}
.left_para2 {
  padding: 0px 0% 0 0!important;
  margin: 5px 0 0 22px!important;
  font-size: 11px!important;
}
.left_para {
  font-size: 11px!important;
  padding: 0px 0 0 0!important;
  margin: 12px 13% 0 0!important;
}

    
}

@media screen and (max-width:400px){
.header-mdle h1 {
    font-size: 30px;
}
.header-right {
    width: 33%;
}
.banner h1 {
    font-size: 22px;
}
.banner h2 {
    font-size: 20px;
    line-height: 22px;
}
.banner h3 {
    font-size: 60px;
}
.banner {
    background: url("../images/banner-bg.png") -758px 0 repeat-x!important;
}    
.heading h1 {
    font-size: 23px;
    line-height: 23px;
    padding-top: 0px;
}
.content-left h2 {
    font-size: 12px;
    line-height: 18px;
}
.content-left p {
    font-size: 12px;
    line-height: 18px;
}
.problem_heading h1 {
    font-size: 21px;
    padding-top: 15px;
    line-height: 26px;
}
.attain {
    font-size: 27px;
    padding: 10px 0;
    line-height: 28px;
}
.events_heading h1 {
    font-size: 20px;
}
.events_colm h1 {
    font-size: 12px;
}
.about_heading h1 {
    font-size: 22px;
    padding: 13px 25px;
}
.update_heading h1 {
    font-size: 20px;
}
.footer{
    margin-top: 40px;
}
.heading h1 span {
    font-size: 18px;
}
.comingsoon h1 {
font-size: 65px;
}
.comingsoon p {
padding-bottom: 80px;
}
    .btn_claim {
        width: 74%;
    }
    .fixed .a-middle{
        font-size:12px;
    }
   /* .fixed .fixedarrow{
        padding:10px 5%;
    }*/
    .btn_claim2 a {
  font-size: 12px;
  padding: 8px 14px;
}
    .claim2 h1 {
    padding: 13px 0 0;
    width: 58%;
    font-size: 18px;
    }
    .claim2 {
    min-height: 132px;
    background-size: 100%;
    }
    .problem_heading h1{
        padding-top: 0;
    }
.claim_left h2 {
font-size: 13px;
line-height: 1;
padding-left: 7px;
}
.claim_left h3 {
font-size: 12px;
}
.claim_left h1 {
font-size: 13px;
}
.claim_left h2 {
font-size: 13px;
line-height: 1;
padding-left: 7px;
}
.btn_claim a {
margin: 10px 0 0 0;
font-size: 9px;
}
.btn_claim {
width: 100%;
}
.claim_left {
width: 29%;
text-align: left;
}
.claim_right img {
right: -57%;
max-width: 43%;
}
.left_para2 {
  padding: 0px 0% 0 0!important;
  margin: 5px 0 0 7px!important;
  font-size: 8px!important;
}
.left_para {
  font-size: 11px!important;
  padding: 0px 0 0 0!important;
  margin: 8px 6% 0 0!important;
}


    
    

    
}
@media screen and (max-width:350px){
.heading h1 {
font-size: 22px;
line-height: 1;
padding-top: 23px;
}
.content-left h6 {
font-size: 12px;
text-transform: uppercase;
color: #d330bb;
padding-bottom: 0;
}
.heading h1 span {
    font-size: 16px;
}
.content-left h2 {
    font-size: 11px;
    line-height: 15px;
}
.problem_heading h1 {
    font-size: 19px;
    padding-top: 15px;
    line-height: 24px;
}
.day {
    margin: 27px 0 0 0;
}
.attain{
    font-size: 26px;
}
.testimonial{
    margin-top: 15px;
}
.content-left p {
    font-size: 11px;
    line-height: 17px;
}
.update_colm p {
    font-size: 12px;
}
.about-text p {
    font-size: 12px;
}
.comingsoon h1 {
    font-size: 56px;
}
.comingsoon h2 {
    font-size: 15px;
}
.comingsoon p {
    padding-bottom: 85px;
}
.footer{
    padding:0 0 50px;
}
.claim2 h1{
    font-size:20px;
}
.claim2 h1 {
padding: 13px 0 0;
width: 60%;
font-size: 18px;
}
.white_arrow {
margin: 15% -67% 0 0px;
}
.white_arrow img {
max-width: 30%;
}
.btn_claim2 a {
font-size: 11px;
padding: 9px 10px;
}
.right-img {
width: 76%;
margin: 0 8%;
}
.fixed .a-middle {
width: 73.3%;
}
.claim_left {
width: 40%;
text-align: left;
}
.claim_left h1 {
font-size: 15px;
}
.claim_left h3 {
font-size: 13px;
padding-top: 5px;
}
.claim_left h2 {
font-size: 14px!important;
line-height: 1;
}
.btn_claim a {
margin: 5px 0 0 0;
font-size: 8px;
padding: 13px 15px;
}
.claim_right img {
right: -51%;
max-width: 49%;
}
.claim_right {
float: right;
padding: 0;
margin: 0;
position: relative;
width: 57%;
}
.btn_claim {
width: 80%;
}
.claim2 {
min-height: 112px;
background-size: 100%;
}
.btn_claim2 {
  margin: 24% -61% 0 0;
}
.left_para {
  font-size: 11px!important;
  padding: 0px 0 0 0!important;
  margin: 8px 6% 1% 0!important;
}

}